.container
{
  width: 90%;
  margin: auto;
}

.loader
{
  position: fixed;
  left: 50%;
  top: 50%;
}

.container a
{
  text-decoration: none;
}

.heading
{
  color: #0A3723;
  font-size: 25px;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.subtitle
{
  color: #0A3723;
  font-size: 20px;
  margin: 0px;
  margin-top: 20px;
}

.filters
{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filter
{
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: white;
  height: 20px;
  padding: 5px;
  border-radius: 5px;
}

.filterheader
{
  font-size: 12px;
}

.books
{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: last baseline;
  gap: 30px;
  
}

.book
{
  width: 200px;
  border: 1px solid #0A3723;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

.image
{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
}

.book p
{
  margin: 0px;
  font-size: 13px;
  width: 100%;
}

.book p span
{
  color: #0A3723;
  font-weight: bold;
  font-size: 15px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block; /* 👈 crucial for ellipsis to work */
}