.form
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}

.content
{
  display: flex;
  width: 90%;
  margin: auto;
  height: 74vh;
  overflow: hidden;
  overflow-y: auto;
}

.form input
{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 400px;
}

.form button
{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0A3723;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.filters
{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 80%;
}

.filter
{
  display: flex;
  align-items: center;
  gap: 0px;
  background-color: white;
  height: 20px;
  padding: 5px;
  border-radius: 5px;
}

.filter p
{
  font-size: 15px;
}

.filterheader
{
  font-size: 15px;
}

.select
{
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: white;
  width: 250px;
}

.selectfilter
{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 150px;
}

.books {
  display: flex;               /* Flex layout */
  flex-wrap: wrap;             /* Allows items to wrap to the next line */
  padding: 10px;               /* Spacing inside the container */
  gap: 30px;                   /* Space between items */
  overflow-y: auto;            /* Enables vertical scrolling */
  height: 100%;                /* Takes full height of parent */
  width: 100%;                 /* Takes full width of parent */
  align-items: flex-start;     /* Align items to the top (if different heights) */
  justify-content: flex-start;/* Items aligned to the left */
}

.results
{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
  
}

.loader
{
  position: fixed;
  left: 50%;
  top: 50%;
}


.book
{
  width: 200px;
  height: 330px;
  border: 1px solid #0A3723;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

.image
{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
}

.book p
{
  margin: 0px;
  font-size: 13px;
  width: 100%;
}

.book p span
{
  color: #0A3723;
  font-weight: bold;
  font-size: 15px;
}

.subtitle
{
  width: 100%;
  margin: 0;
}

.recent
{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  gap: 5px;
  width: 50%;
}

.recent p
{
  margin: 0;
}

.filterscontainer
{
  height: 100%;
  overflow-y: scroll;
  width: 80%;
}